<div class="container">
  <h1 style="text-align: center">Add election</h1>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4" style="text-align: center">
      <label for="election-name">Election name</label><br>
      <input type="text" pInputText id="election-name" [(ngModel)]="electionName">
    </div>
  </div><br>
  <div class="row" style="text-align: center">
    <label>Candidates</label><br>
    <br>
    <div class="col-xs-offset-4 col-xs-4" style="text-align: center">
      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText [(ngModel)]="candidateFio">
        <label for="float-input">FIO</label>
      </span>
      <br>
      <button class="btn btn-warning" (click)="addCandidate()">Add candidate</button>
    </div>
  </div><br>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <div *ngFor="let candidate of candidates">
        {{candidate.fio}}
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4" style="text-align: center"><button class="btn btn-success" [disabled]="!electionName" (click)="saveElection()">SAVE</button></div>
  </div>
</div>
