<div *ngIf="!bulletinToSign" class="bulletin">
  <h1 style="text-align: center">Bulletin</h1>
  <table class="table">
    <tr>
      <th>Election name</th>
      <th>Chosen candidate</th>
    </tr>
    <tr *ngFor="let bulletinData of bulletin">
      <td>{{ bulletinData.election.name }}</td>
      <td>{{ bulletinData.candidate.fio }}</td>
    </tr>
  </table>
  <div style="color: red; text-align: right" *ngIf="!bulletinCanBeSend">Choose candidates for all elections to send bulletin</div>
  <div style="text-align: right"><button (click)="sendBulletin()" class="btn btn-danger" [disabled]="!bulletinCanBeSend">Send bulletin</button></div>
</div>
<div *ngIf="bulletinToSign" class="bulletin">
  <h1 style="text-align: center">Bulletin</h1>
  <table class="table">
    <tr>
      <th>Election name</th>
      <th>Chosen candidate</th>
    </tr>
    <tr *ngFor="let bulletinData of bulletin">
      <td>{{ bulletinData.election.name }}</td>
      <td>{{ bulletinData.candidate.fio }}</td>
    </tr>
  </table>
  <div class="signature">
    <h4>Please enter your private key</h4>
    <label for="signaturePrvExponent">d  </label><input type="text" id="signaturePrvExponent" [(ngModel)]="signaturePrvExponent"><br>
    <label for="signatureModulus">n  </label><input type="text" id="signatureModulus" [(ngModel)]="signatureModulus">
  </div>
  <div style="text-align: right"><button (click)="encryptAndSendBulletin()" class="btn btn-danger" [disabled]="!bulletinCanBeSend">Send bulletin to sever</button></div>
</div>

