<div *ngIf="bulletin.length != 0 && !bulletinToSign">
  <h1>Bulletin</h1>
  <table class="table">
    <tr>
      <th>Election name</th>
      <th>Chosen candidate</th>
    </tr>
    <tr *ngFor="let bulletinData of bulletin">
      <td>{{ bulletinData.election.name }}</td>
      <td>{{ bulletinData.candidate.fio }}</td>
    </tr>
  </table>
  <button (click)="sendBulletin()" class="btn">Send bulletin</button>
</div>
<div *ngIf="bulletin.length != 0 && bulletinToSign">
  <h1>Bulletin</h1>
  <table class="table">
    <tr>
      <th>Election name</th>
      <th>Chosen candidate</th>
    </tr>
    <tr *ngFor="let bulletinData of bulletin">
      <td>{{ bulletinData.election.name }}</td>
      <td>{{ bulletinData.candidate.fio }}</td>
    </tr>
  </table>
  <div class="signature">
    <h4>Please enter your private key</h4>
    <input type="text" id="signaturePrvExponent" [(ngModel)]="signaturePrvExponent">
    <input type="text" id="signatureModulus" [(ngModel)]="signatureModulus">
  </div>
  <button (click)="sendSignedBulletin()" class="btn">Send bulletin to sever</button>
</div>

