<div class="container header">
  <div class="row">
    <div class="col-xs-6 header-option" [ngClass]="selectedPage == 'elections'? 'selected-option' : ''" (click)="selectedPage = 'elections'">
      <p>Elections</p>
    </div>
    <div class="col-xs-6 header-option" [ngClass]="selectedPage == 'users'? 'selected-option' : ''" (click)="selectedPage = 'users'">
      <p>Users</p>
    </div>
  </div>
</div>
<div class="container main">
  <div class="row" *ngIf="selectedPage == 'elections'">
    <h1 style="text-align: center">Elections</h1>
    <table class="table">
      <tr>
        <th>Election Id</th>
        <th>Election Name</th>
        <th>Count of candidates</th>
        <th></th>
      </tr>
      <tr *ngFor="let election of elections">
        <td>{{election.id}}</td>
        <td>{{election.name}}</td>
        <td>{{election.candidates.length}}</td>
        <td><button class="btn btn-danger" [routerLink]="['/edit-election/', election.id]">edit</button> <button class="btn btn-danger" (click)="deleteElection(election.id)">delete</button></td>
      </tr>
    </table>
    <button class="btn btn-success" [routerLink]="['/add-election']">Add election</button>
  </div>
  <div class="row" *ngIf="selectedPage == 'users'">
    <h1 style="text-align: center">Users</h1>
    <table class="table">
      <tr>
        <th>User Id</th>
        <th>User name</th>
        <th>User role</th>
        <th>User LIK</th>
        <th>casted</th>
        <th>registred</th>
        <th>User elections</th>
        <th></th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <td>{{user.LIK}}</td>
        <td>{{user.isCastingDone}}</td>
        <td>{{user.isRegistred}}</td>
        <td>{{getElectionsString(user.elections)}}</td>
        <td><button class="btn btn-danger" (click)="deleteUser(user.id)">delete</button></td>
      </tr>
    </table>
    <button class="btn btn-success" [routerLink]="['/add-user']">Add user</button>
  </div>
</div>
