.elections-list {
  text-align: center;
}
.election-name {
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #d9534f;
  color: white;
  font-size: 20px;
}

.election-name:hover {
  cursor: pointer;
  color: lightskyblue;
}

.selected-election {
  background-color: cornflowerblue;
}


.election-area {
}
